<div class="all-todo-list">
  <div class="view-todo-box">
  <p class="heading">Your Scheduled Todo's</p>
  <p class="notice"><%=notice%></p>
    <% @todo_lists.each do |todo_list| %>
    <div class="todo-item">
        <p class="todo_list_title"><%= link_to todo_list.title, todo_list %></p>
        <p class="todo_list_sub_title"><%= todo_list.description %></p>
    </div>
    <% end %>
    <div class="links">
      <%= link_to "New Todo List", new_todo_list_path %>
    </div>
  </div>
</div>